# Pre-processing Datasets

In [4]:
# import important libraries 
import pandas as pd
import numpy as np
import matplotlib as plt

In [5]:
# load dataset prompts_train , summaries_train
prompts = pd.read_csv('../artifacts/prompts_train.csv')
summaries = pd.read_csv('../artifacts/summaries_train.csv')

In [6]:
# find duplicates
print(prompts.duplicated().sum())
print(summaries.duplicated().sum())

0
0

In [7]:
# find null values
print(prompts.isnull().sum())
print(summaries.isnull().sum())

prompt_id          0
prompt_question    0
prompt_title       0
prompt_text        0
dtype: int64
student_id    0
prompt_id     0
text          0
content       0
wording       0
dtype: int64

In [19]:
!pip install langdetect nltk

Collecting langdetect
  Using cached langdetect-1.0.9-py3-none-any.whl
Collecting nltk
  Using cached nltk-3.8.1-py3-none-any.whl (1.5 MB)
Requirement already satisfied: six in c:\users\acer\desktop\scribosense\env\lib\site-packages (from langdetect) (1.16.0)
Collecting click (from nltk)
  Downloading click-8.1.7-py3-none-any.whl (97 kB)
                                              0.0/97.9 kB ? eta -:--:--
     ------------                             30.7/97.9 kB 1.4 MB/s eta 0:00:01
     -----------------------                61.4/97.9 kB 550.5 kB/s eta 0:00:01
     -------------------------------------- 97.9/97.9 kB 804.6 kB/s eta 0:00:00
Collecting joblib (from nltk)
  Downloading joblib-1.3.2-py3-none-any.whl (302 kB)
                                              0.0/302.2 kB ? eta -:--:--
     -----                                 41.0/302.2 kB 991.0 kB/s eta 0:00:01
     -------                                 61.4/302.2 kB 1.1 MB/s eta 0:00:01
     ---------------                        122.9/302.2 kB 1.0 MB/s eta 0:00:01
     -------------------                  163.8/302.2 kB 984.6 kB/s eta 0:00:01
     -------------------------              204.8/302.2 kB 1.0 MB/s eta 0:00:01
     ------------------------------         245.8/302.2 kB 1.0 MB/s eta 0:00:01
     ------------------------------------   286.7/302.2 kB 1.0 MB/s eta 0:00:01
     -------------------------------------- 302.2/302.2 kB 1.0 MB/s eta 0:00:00
Collecting regex>=2021.8.3 (from nltk)
  Using cached regex-2023.8.8-cp310-cp310-win_amd64.whl (268 kB)
Requirement already satisfied: tqdm in c:\users\acer\desktop\scribosense\env\lib\site-packages (from nltk) (4.65.0)
Requirement already satisfied: colorama in c:\users\acer\desktop\scribosense\env\lib\site-packages (from click->nltk) (0.4.6)
Installing collected packages: regex, langdetect, joblib, click, nltk
Successfully installed click-8.1.7 joblib-1.3.2 langdetect-1.0.9 nltk-3.8.1 regex-2023.8.8

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [11]:
# check why i cant convert the data into string

def is_convertible(value):
    try:
        str(value)
        return True
    except:
        return False

column_to_check = 'prompt_question'

if all(prompts[column_to_check].apply(is_convertible)):
    print(f"The '{column_to_check}' column can be safely converted to string.")
else:
    print(f"The '{column_to_check}' column cannot be converted to string for all values.")

The 'prompt_question' column can be safely converted to string.

In [12]:
## so there is no null values or duplicate values

In [13]:
prompts.head()

,prompt_id,prompt_question,prompt_title,prompt_text
0,39c16e,Summarize at least 3 elements of an ideal trag...,On Tragedy,Chapter 13 \r\nAs the sequel to what has alrea...
1,3b9047,"In complete sentences, summarize the structure...",Egyptian Social Structure,Egyptian society was structured like a pyramid...
2,814d6b,Summarize how the Third Wave developed over su...,The Third Wave,Background \r\nThe Third Wave experiment took ...
3,ebad26,Summarize the various ways the factory would u...,Excerpt from The Jungle,"With one member trimming beef in a cannery, an..."

In [14]:
prompts.tail()

,prompt_id,prompt_question,prompt_title,prompt_text
0,39c16e,Summarize at least 3 elements of an ideal trag...,On Tragedy,Chapter 13 \r\nAs the sequel to what has alrea...
1,3b9047,"In complete sentences, summarize the structure...",Egyptian Social Structure,Egyptian society was structured like a pyramid...
2,814d6b,Summarize how the Third Wave developed over su...,The Third Wave,Background \r\nThe Third Wave experiment took ...
3,ebad26,Summarize the various ways the factory would u...,Excerpt from The Jungle,"With one member trimming beef in a cannery, an..."

In [15]:
prompts.describe()

,prompt_id,prompt_question,prompt_title,prompt_text
count,4,4,4,4
unique,4,4,4,4
top,39c16e,Summarize at least 3 elements of an ideal trag...,On Tragedy,Chapter 13 \r\nAs the sequel to what has alrea...
freq,1,1,1,1

In [16]:
summaries.head()

,student_id,prompt_id,text,content,wording
0,000e8c3c7ddb,814d6b,The third wave was an experimentto see how peo...,0.205683,0.380538
1,0020ae56ffbf,ebad26,They would rub it up with soda to make the sme...,-0.548304,0.506755
2,004e978e639e,3b9047,"In Egypt, there were many occupations and soci...",3.128928,4.231226
3,005ab0199905,3b9047,The highest class was Pharaohs these people we...,-0.210614,-0.471415
4,0070c9e7af47,814d6b,The Third Wave developed rapidly because the ...,3.272894,3.219757

In [17]:
summaries.tail()

,student_id,prompt_id,text,content,wording
7160,ff7c7e70df07,ebad26,They used all sorts of chemical concoctions to...,0.205683,0.380538
7161,ffc34d056498,3b9047,The lowest classes are slaves and farmers slav...,-0.308448,0.048171
7162,ffd1576d2e1b,3b9047,they sorta made people start workin...,-1.408180,-0.493603
7163,ffe4a98093b2,39c16e,An ideal tragety has three elements that make ...,-0.393310,0.627128
7164,fffbccfd8a08,ebad26,"The meat would smell sour but the would ""rub i...",1.771596,0.547742

In [18]:
summaries.describe()

           content      wording
count  7165.000000  7165.000000
mean     -0.014853    -0.063072
std       1.043569     1.036048
min      -1.729859    -1.962614
25%      -0.799545    -0.872720
50%      -0.093814    -0.081769
75%       0.499660     0.503833
max       3.900326     4.310693

# Text pre-processing

In [19]:
summaries.dtypes

student_id     object
prompt_id      object
text           object
content       float64
wording       float64
dtype: object

In [20]:
prompts.dtypes

prompt_id          object
prompt_question    object
prompt_title       object
prompt_text        object
dtype: object

In [21]:
# convert object type to string
# cols_in_summ = ['student_id', 'prompt_id', 'text']

# for feature in cols_in_summ:
#     summaries[feature] = summaries[feature].astype(str)
#     print(f"Converting column '{feature}'...")
#     print(summaries[feature].dtype)

object_columns_1 = prompts.select_dtypes(include=['object']).columns
prompts[object_columns_1] = prompts[object_columns_1].astype('string')

object_columns = summaries.select_dtypes(include=['object']).columns
summaries[object_columns] = summaries[object_columns].astype('string')

print("Conversion done.")

Conversion done.

In [22]:
print(summaries['prompt_id'].str.islower().sum())
print(prompts['prompt_question'].str.islower().sum())
print(summaries[~summaries['student_id'].str.islower()])

7165
0
        student_id prompt_id  \
75    034778750341    3b9047
687   190203453483    3b9047
958   225379499397    39c16e
1076  267513940255    39c16e
1361  317049794171    3b9047
1395  327149666308    ebad26
1777  403911877200    39c16e
1779  404194453807    39c16e
1857  429201797323    ebad26
1907  442594256362    ebad26
2050  495833117023    39c16e
2307  523680763020    ebad26
2330  530098944761    39c16e
2377  548691483400    39c16e
2776  635960714299    39c16e
2782  639777926382    ebad26
2813  647850918434    814d6b
2833  653956343387    ebad26
3222  725274314881    39c16e
3626  809230548742    814d6b
3692  833737560522    39c16e
3771  858088856432    39c16e
4150  929189204081    39c16e
4166  933265272086    3b9047
4204  947522272313    814d6b
4305  988369638777    ebad26
4326  993389255425    3b9047

                                                   text   content   wording
75    The egyptian system of government is different... -0.964718 -1.628368
687   The structure of the ancient Egyptian system o...  0.205683  0.380538
958   An ideal tragedy would be that the story can't... -0.062106 -0.380727
1076  In tragedies, 3 elements that should be includ...  1.044649  0.958534
1361  The ancient Egyptian system of government was ...  3.251984  2.797394
1395  The factory would chop up spoiled meat and put... -0.718995  0.423674
1777  Tragedy must be about a person who is not extr... -0.093814  0.503833
1779  Three elements of an ideal tradegy, as describ...  0.205683  0.380538
1857  On way was by using a pickles to get ride of t...  0.328739 -1.053294
1907  The factory would use various methods to hide ...  1.284505  0.499949
2050  The elements of an ideal tragedy as seen by Ar...  1.173453  0.752157
2307  The various ways that the factory would use or...  0.205683  0.380538
2330  An ideal tragedy, according to Aristotle, shou... -0.328151 -0.248892
2377  A good tragedy should not have a simple plot, ... -0.093814  0.503833
2776  Aristotle believed that a good tragedy would n...  3.332534  3.555045
2782  In the text it describes "They would rub it up... -0.981265 -1.548900
2813  The Third Wave was initially nothing more than...  1.424695  1.592890
2833  The factory would chop up spoiled meat and put...  1.284505  0.499949
3222  He mentions oedipusus inall his examples of tr... -0.248808  0.383460
3626  The Third Wave developed over such a short per...  1.252797  1.384510
3692  Three elements of an idela tragedy described b... -0.981265 -1.548900
3771  The first element of an ideal tragedy is  comp... -0.093814  0.503833
4150  The perfect tragedy is planned out to show fea... -0.456956 -0.042516
4166  The pharoahs got all they wanted because peopl...  0.205683  0.380538
4204  The third wave was developed over such a short...  1.252797  1.384510
4305  the factories would use soda , filing meat wit... -0.921625 -1.213611
4326  "Egyptian social structure", written by USHist...  2.407270  0.991942

In [23]:
summaries.dtypes

student_id    string[python]
prompt_id     string[python]
text          string[python]
content              float64
wording              float64
dtype: object

In [24]:
prompts.dtypes

prompt_id          string[python]
prompt_question    string[python]
prompt_title       string[python]
prompt_text        string[python]
dtype: object

In [25]:
# convert upper case to lower case 
import re
import string

summaries["text"] = summaries["text"].apply(lambda x: " ".join(x.lower() for x in x.split()))
print(summaries['text'].head(5))
summaries["prompt_id"] = summaries["prompt_id"].apply(lambda x: " ".join(x.lower() for x in x.split()))
print(summaries['prompt_id'].head(5))
summaries["student_id"] = summaries["student_id"].apply(lambda x: " ".join(x.lower() for x in x.split()))
print(summaries['student_id'].head(5))

prompt_cols = prompts.columns
for col in prompt_cols:
    prompts[col] = prompts[col].apply(lambda x: " ".join(x.lower() for x in x.split()))
    print(prompts[col].head(5))

0    the third wave was an experimentto see how peo...
1    they would rub it up with soda to make the sme...
2    in egypt, there were many occupations and soci...
3    the highest class was pharaohs these people we...
4    the third wave developed rapidly because the s...
Name: text, dtype: object
0    814d6b
1    ebad26
2    3b9047
3    3b9047
4    814d6b
Name: prompt_id, dtype: object
0    000e8c3c7ddb
1    0020ae56ffbf
2    004e978e639e
3    005ab0199905
4    0070c9e7af47
Name: student_id, dtype: object
0    39c16e
1    3b9047
2    814d6b
3    ebad26
Name: prompt_id, dtype: object
0    summarize at least 3 elements of an ideal trag...
1    in complete sentences, summarize the structure...
2    summarize how the third wave developed over su...
3    summarize the various ways the factory would u...
Name: prompt_question, dtype: object
0                   on tragedy
1    egyptian social structure
2               the third wave
3      excerpt from the jungle
Name: prompt_title, dtype: object
0    chapter 13 as the sequel to what has already b...
1    egyptian society was structured like a pyramid...
2    background the third wave experiment took plac...
3    with one member trimming beef in a cannery, an...
Name: prompt_text, dtype: object

In [26]:
# remove links
summaries['text'] = summaries['text'].apply(lambda x: " ".join(re.sub(r'^https?:\/\/.*[\r\n]*', '', x, flags=re.MULTILINE) for x in x.split()))
print(summaries['text'].head(5))
prompts['prompt_text'] = prompts['prompt_text'].apply(lambda x: " ".join(re.sub(r'^https?:\/\/.*[\r\n]*', '', x, flags=re.MULTILINE) for x in x.split()))
print(prompts['prompt_text'].head(5))
prompts['prompt_question'] = prompts['prompt_question'].apply(lambda x: " ".join(re.sub(r'^https?:\/\/.*[\r\n]*', '', x, flags=re.MULTILINE) for x in x.split()))
print(prompts['prompt_question'].head(5))

0    the third wave was an experimentto see how peo...
1    they would rub it up with soda to make the sme...
2    in egypt, there were many occupations and soci...
3    the highest class was pharaohs these people we...
4    the third wave developed rapidly because the s...
Name: text, dtype: object
0    chapter 13 as the sequel to what has already b...
1    egyptian society was structured like a pyramid...
2    background the third wave experiment took plac...
3    with one member trimming beef in a cannery, an...
Name: prompt_text, dtype: object
0    summarize at least 3 elements of an ideal trag...
1    in complete sentences, summarize the structure...
2    summarize how the third wave developed over su...
3    summarize the various ways the factory would u...
Name: prompt_question, dtype: object

In [27]:
# remove punctuation
def remove_punctuations(text):
    for punctuation in string.punctuation:
        text = text.replace(punctuation, '')
    return text

summaries["text"] = summaries["text"].apply(remove_punctuations)

prompts["prompt_text"] = prompts["prompt_text"].apply(remove_punctuations)

prompts["prompt_question"] = prompts["prompt_question"].apply(remove_punctuations)

In [28]:
summaries

,student_id,prompt_id,text,content,wording
0,000e8c3c7ddb,814d6b,the third wave was an experimentto see how peo...,0.205683,0.380538
1,0020ae56ffbf,ebad26,they would rub it up with soda to make the sme...,-0.548304,0.506755
2,004e978e639e,3b9047,in egypt there were many occupations and socia...,3.128928,4.231226
3,005ab0199905,3b9047,the highest class was pharaohs these people we...,-0.210614,-0.471415
4,0070c9e7af47,814d6b,the third wave developed rapidly because the s...,3.272894,3.219757
...,...,...,...,...,...
7160,ff7c7e70df07,ebad26,they used all sorts of chemical concoctions to...,0.205683,0.380538
7161,ffc34d056498,3b9047,the lowest classes are slaves and farmers slav...,-0.308448,0.048171
7162,ffd1576d2e1b,3b9047,they sorta made people start working on the st...,-1.408180,-0.493603
7163,ffe4a98093b2,39c16e,an ideal tragety has three elements that make ...,-0.393310,0.627128
7164,fffbccfd8a08,ebad26,the meat would smell sour but the would rub it...,1.771596,0.547742

In [29]:
prompts

,prompt_id,prompt_question,prompt_title,prompt_text
0,39c16e,summarize at least 3 elements of an ideal trag...,on tragedy,chapter 13 as the sequel to what has already b...
1,3b9047,in complete sentences summarize the structure ...,egyptian social structure,egyptian society was structured like a pyramid...
2,814d6b,summarize how the third wave developed over su...,the third wave,background the third wave experiment took plac...
3,ebad26,summarize the various ways the factory would u...,excerpt from the jungle,with one member trimming beef in a cannery and...

In [30]:
prompts['prompt_text']

0    chapter 13 as the sequel to what has already b...
1    egyptian society was structured like a pyramid...
2    background the third wave experiment took plac...
3    with one member trimming beef in a cannery and...
Name: prompt_text, dtype: object

In [31]:
!pip install inflect

Requirement already satisfied: inflect in c:\users\acer\appdata\local\programs\python\python310\lib\site-packages (7.0.0)
Requirement already satisfied: pydantic>=1.9.1 in c:\users\acer\appdata\local\programs\python\python310\lib\site-packages (from inflect) (2.1.1)
Requirement already satisfied: typing-extensions in c:\users\acer\appdata\local\programs\python\python310\lib\site-packages (from inflect) (4.7.1)
Requirement already satisfied: annotated-types>=0.4.0 in c:\users\acer\appdata\local\programs\python\python310\lib\site-packages (from pydantic>=1.9.1->inflect) (0.5.0)
Requirement already satisfied: pydantic-core==2.4.0 in c:\users\acer\appdata\local\programs\python\python310\lib\site-packages (from pydantic>=1.9.1->inflect) (2.4.0)

[notice] A new release of pip is available: 23.0.1 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [32]:
# # remove numbers
# summaries["text"] = summaries['text'].str.replace('\d+', '', regex=True)
# prompts["prompt_text"] = prompts['prompt_text'].str.replace('\d+', '', regex=True)

In [33]:
import inflect
inflect_instance = inflect.engine()

# Regular expression pattern to find numbers in the text
pattern = r'\d+(\.\d+)?'

# Function to convert numbers to words
def replace_numbers(match):
    num = match.group()
    num_word = inflect_instance.number_to_words(num)
    return num_word

# Apply the replacement function to the 'text_column'
summaries['text'] = summaries['text'].apply(lambda x: re.sub(pattern, replace_numbers, x))
summaries

wanted = ['prompt_question','prompt_title','prompt_text']
for col in wanted:
    prompts[col] = prompts[col].apply(lambda x: re.sub(pattern, replace_numbers, x))
prompts

,prompt_id,prompt_question,prompt_title,prompt_text
0,39c16e,summarize at least three elements of an ideal ...,on tragedy,chapter thirteen as the sequel to what has alr...
1,3b9047,in complete sentences summarize the structure ...,egyptian social structure,egyptian society was structured like a pyramid...
2,814d6b,summarize how the third wave developed over su...,the third wave,background the third wave experiment took plac...
3,ebad26,summarize the various ways the factory would u...,excerpt from the jungle,with one member trimming beef in a cannery and...

In [34]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\acer\appdata\local\programs\python\python310\lib\site-packages (3.8.1)
Requirement already satisfied: regex>=2021.8.3 in c:\users\acer\appdata\local\programs\python\python310\lib\site-packages (from nltk) (2023.8.8)
Requirement already satisfied: tqdm in c:\users\acer\appdata\local\programs\python\python310\lib\site-packages (from nltk) (4.66.1)
Requirement already satisfied: joblib in c:\users\acer\appdata\local\programs\python\python310\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: click in c:\users\acer\appdata\local\programs\python\python310\lib\site-packages (from nltk) (8.1.6)
Requirement already satisfied: colorama in c:\users\acer\appdata\local\programs\python\python310\lib\site-packages (from click->nltk) (0.4.6)

[notice] A new release of pip is available: 23.0.1 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [49]:
# find outliers 
from langdetect import detect
from nltk.corpus import words

count = 0
def english_detector(text):
    detected_language = detect(text)
    if detected_language == "en" :
        None
    else:
        print(detected_language)
        print(text)

prompt_text = prompts.drop(columns=['prompt_id'])    
summary_text = summaries['text']

for column in prompt_text.columns:
    detected_languages = [english_detector(text) for text in prompt_text[column]]

detected_languages = [english_detector(text) for text in summary_text]

ro
egyptian social structure

In [33]:
import nltk

In [34]:
nltk.download('stopwords', download_dir='../static/model')

[nltk_data] Downloading package stopwords to ../static/model...
[nltk_data]   Package stopwords is already up-to-date!

True

In [35]:
with open('../static/model/corpora/stopwords/english', 'r') as file:
    sw = file.read().splitlines()
sw

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [36]:
summaries["text"] = summaries["text"].apply(lambda x: " ".join(x for x in x.split() if x not in sw))

In [37]:
# stemming
from nltk.stem import PorterStemmer
ps = PorterStemmer()
summaries["text"] = summaries["text"].apply(lambda x: " ".join(ps.stem(x) for x in x.split()))
summaries["text"].head()

0    third wave experimentto see peopl react new on...
1    would rub soda make smell go away wouldnt bad ...
2    egypt mani occup social class involv daytoday ...
3    highest class pharaoh peopl godsthen twond hig...
4    third wave develop rapidli student genuinli be...
Name: text, dtype: object

In [25]:
summaries['wording'].max()

4.3106931513921

## Building Vocabulary

In [51]:
from collections import Counter
vocab = Counter()